# Example environment variables
# Copy this file to .env and fill in your actual values

# TODO: set the time in api and time out api and db connection php in web

EXPO_PUBLIC_API_URL=https://jajr.xandree.com/
EXPO_PUBLIC_OTHER_KEY=placeholder
EXPO_PUBLIC_ATTENDANCE_API_URL=https://jajr.xandree.com/
